
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
header{
  background:#373d42;
  height:50px;
  line-height: 50px;
  font-family:MicrosoftYaHei;
  font-size:14px;
  color:#e6e6e6;
  letter-spacing:0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
body :global(.ant-layout-sider-trigger) {
  /*background: #4A5064;*/
  top: 0px;
  position: absolute !important;
}
:global(.ant-layout-sider-children){
  margin-top: 50px;
}
:global(.ant-layout-sider,.ant-layout-sider:hover){
  /*background:#333744;;*/
}
:global(.ant-menu-item){
  /*background: #4A5064;*/
}

:global(.ant-menu.ant-menu-dark .ant-menu-item-selected){
  /*background-color:#00c1de !important ;*/
}
:global(.ant-menu-inline .ant-menu-item){
  margin-bottom: 0 !important;
}

:global(.ant-layout-sider-has-trigger){
  position: fixed !important;
  height: 100%;
  margin-top: 50px !important;
}
:global(.ant-layout-content){
  margin-top: 50px !important;
//margin-left: 155px !important;
}
